.achievements {
	padding-top: 110px;

	.heading-text {
		padding-bottom: 80px;

		@media screen and (max-width: 1440px) {
			padding-bottom: 60px;
		}

		@media screen and (max-width: 991px) {
			padding-bottom: 40px;
		}
	}

	.item-wrapper {
		gap: 40px;

		.item {
			padding: 50px;
			border-radius: 12px;
			border: 1px solid #262626;
			box-shadow: 0 0 0 8px #191919;
			width: 33%;

			h3 {
				font-size: 30px;
				padding-bottom: 30px;
			}
		}
	}

	@media screen and (max-width: 1440px) {
		padding-top: 90px;

		.item-wrapper {
			gap: 30px;

			.item {
				padding: 40px;

				h3 {
					font-size: 24px;
					padding-bottom: 20px;
				}
			}
		}
	}

	@media screen and (max-width: 991px) {
		padding-top: 61px;

		.item-wrapper {
			gap: 20px;
			flex-wrap: wrap;

			.item {
				padding: 40px;
				width: 48%;

				h3 {
					font-size: 20px;
					padding-bottom: 16px;
				}
			}
		}
	}

	@media screen and (max-width: 767px) {
		.item-wrapper {
			.item {
				padding: 30px;
				width: 100%;
			}
		}
	}
}
