.dream-property {
	padding: 150px 0 160px;

	background: linear-gradient(
		-64deg,
		transparent 0,
		transparent 53%,
		#262626 100%
	);

	h2 {
		padding-top: 0;

		&::before {
			display: none;
		}
	}

	@media screen and (max-width: 1440px) {
		padding: 100px 0 130px;
	}

	@media screen and (max-width: 991px) {
		padding: 50px 0;
	}
}

.services-page {
	.dream-property {
		padding-bottom: 100px;
	}
}
