.experience {
	padding-top: 110px;

	.heading-text {
		padding-bottom: 80px;

		@media screen and (max-width: 1440px) {
			padding-bottom: 60px;
		}

		@media screen and (max-width: 991px) {
			padding-bottom: 40px;
		}
	}

	.item-wrapper {
		row-gap: 50px;
		column-gap: 30px;

		.item {
			width: 31.5%;

			.item-heading {
				padding: 16px 20px;
				border-left: 1px solid #703bf7;

				h4 {
					font-size: 20px;
					font-weight: 500;
					line-height: 150%;
				}
			}

			.content-wrapper {
				padding: 50px;
				background: url("../images/experiencebg.png") no-repeat top left;
				background-size: 100% 100%;

				h3 {
					font-size: 26px;
					padding-bottom: 20px;
				}

				p {
					min-height: 108px;
				}
			}
		}
	}

	@media screen and (max-width: 1440px) {
		.item-wrapper {
			row-gap: 40px;
			column-gap: 20px;

			.item {
				width: 32%;

				.item-heading {
					padding: 14px 16px;

					h4 {
						font-size: 16px;
					}
				}

				.content-wrapper {
					padding: 40px;

					h3 {
						font-size: 20px;
						padding-bottom: 16px;
					}

					p {
						min-height: 96px;
					}
				}
			}
		}
	}

	@media screen and (max-width: 1024px) {
		.item-wrapper {
			.item {
				width: 48%;
			}
		}
	}

	@media screen and (max-width: 767px) {
		.item-wrapper {
			gap: 30px;

			.item {
				width: 100%;

				.content-wrapper {
					padding: 30px;

					h3 {
						font-size: 18px;
						padding-bottom: 16px;
					}

					p {
						font-size: 14px;
						min-height: auto;
					}
				}
			}
		}
	}
}
