#banner-section {
	background: url("../images/banner.png") no-repeat center;
	padding: 14px 0;
	position: relative;
	border: 1px solid #262626;

	.close {
		position: absolute;
		right: 32px;
		top: 14px;

		@media screen and (max-width: 991px) {
			top: 12px;
			right: 16px;
		}
	}

	p {
		color: #ffffff;

		@media screen and (max-width: 1440px) {
			font-size: 14px;

			a {
				font-size: 14px;
			}
		}

		@media screen and (max-width: 991px) {
			text-align: left !important;
		}

		@media screen and (max-width: 767px) {
			font-size: 12px;

			a {
				font-size: 12px;
			}
		}
	}

	@media screen and (max-width: 320px) {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-right: 16px;

		.close {
			position: relative;
			top: auto;
			right: 0;
		}
	}
}

#masthead {
	background: #1a1a1a;

	.logo {
		line-height: 0;
	}

	.site-branding {
		padding: 25.5px 0;

		nav {
			ul {
				li {
					transition: all 0.3s ease;
					border-radius: 10px;
					border: 1px solid transparent;

					a {
						color: #ffffff;
						font-size: 18px;
						font-weight: 500;
						line-height: 150%;
						padding: 14px 24px;

						@media screen and (max-width: 1440px) {
							font-size: 14px;
						}
					}

					&:hover,
					&.current-menu-item {
						border: 1px solid #262626;
						background: #141414;
					}
				}
			}
		}

		.cta.cta-secondary {
			background: #141414;
			font-size: 14px;
		}

		@media screen and (max-width: 1440px) {
			.logo {
				img {
					height: 34px;
				}
			}
		}

		@media screen and (max-width: 991px) {
			padding: 20px 0;
		}
	}
}

@media screen and (max-width: 991px) {
	.banner-show {
		#masthead {
			.site-branding-right {
				padding-top: 130px;
			}
		}
	}
	#masthead {
		.site-branding-right {
			position: fixed;
			z-index: -1;
			height: 100%;
			width: 100%;
			background: #1a1a1a;
			top: 0;
			left: 0;
			overflow: auto;
			padding-top: 75px;
			-webkit-transform: translateX(-110%);
			transform: translateX(-110%);
			transition: 0.5s ease-in-out;
		}

		.site-branding {
			position: relative;

			.cta.cta-secondary {
				display: none;
			}

			.site-branding-left,
			.cta-wrapper {
				position: relative;
				z-index: 100;
			}
		}
	}

	.menu-open #masthead .site-branding-right {
		-webkit-transform: translateX(0) !important;
		transform: translateX(0) !important;
		z-index: 10;
	}
}

@media screen and (max-width: 320px) {
	.banner-show {
		#masthead {
			.site-branding-right {
				padding-top: 140px;
			}
		}
	}
}
