.location {
	.heading-text {
		padding-bottom: 80px;

		@media screen and (max-width: 1440px) {
			padding-bottom: 60px;
		}

		@media screen and (max-width: 991px) {
			padding-bottom: 40px;
		}
	}

	.tab {
		gap: 10px;
		margin-bottom: 50px;
		background: #1a1a1a;
		border-radius: 12px;
		max-width: 516px;
		padding: 10px;

		a {
			width: 160px;
			text-align: center;
			box-sizing: border-box;
			border: 1px solid #262626;

			&.active {
				background: #141414;
			}
		}

		@media screen and (max-width: 1140px) {
			margin-bottom: 40px;
		}

		@media screen and (max-width: 991px) {
			margin: 0 auto 30px;
		}
	}

	.items-wrapper {
		gap: 30px;

		.item {
			padding: 50px;
			border: 1px solid #262626;
			background: #141414;
			border-radius: 12px;
			width: 49%;

			h3 {
				font-size: 30px;
				padding-bottom: 14px;
			}

			h4 {
				font-size: 18px;
				font-weight: 500;
				line-height: 150%;
				padding-bottom: 10px;
			}

			p {
				padding-bottom: 40px;
			}

			.item-info {
				gap: 10px;
				margin-bottom: 40px;

				p {
					padding-bottom: 0;
					padding: 14px 20px;
					border: 1px solid #262626;
					background: #1a1a1a;
					border-radius: 30px;
					color: #fff;
					gap: 3px;
					transition: all 0.3s ease;

					&:hover {
						color: #703bf7;
					}
				}
			}

			a {
				width: 100%;
				text-align: center;
			}
		}

		@media screen and (max-width: 1440px) {
			.item {
				padding: 40px;

				h4 {
					font-size: 14px;
					padding-bottom: 6px;
				}

				h3 {
					font-size: 24px;
					padding-bottom: 10px;
				}

				p {
					padding-bottom: 30px;
				}

				.item-info {
					margin-bottom: 40px;

					p {
						font-size: 14px;
						padding: 8px 16px;
					}
				}
			}
		}

		@media screen and (max-width: 991px) {
			flex-direction: column;
			gap: 20px;

			.item {
				width: 100%;
				padding: 24px;

				h3 {
					font-size: 20px;
				}

				p {
					padding-bottom: 24px;
				}

				.item-info {
					margin-bottom: 24px;
					flex-wrap: wrap;
				}
			}
		}
	}
}
