.pricing-details {
	padding-top: 150px;
	padding-bottom: 110px;

	@media screen and (max-width: 1440px) {
		padding-top: 110px;
		padding-bottom: 100px;
	}

	@media screen and (max-width: 991px) {
		padding-top: 61px;
		padding-bottom: 61px;
	}

	.note {
		border: 1px solid #262626;
		background: #1a1a1a;
		border-radius: 12px;
		padding: 30px 50px;
		gap: 40px;
		margin-top: 80px;

		h4 {
			font-size: 24px;
			color: #fff;
			line-height: 150%;
			position: relative;

			&::after {
				content: "";
				background: #262626;
				width: 1px;
				height: 36px;
				position: absolute;
				right: -20px;
				top: 0;
			}
		}

		@media screen and (max-width: 1440px) {
			margin-top: 60px;
			padding: 20px 40px;

			h4 {
				font-size: 20px;
			}

			p {
				font-size: 14px;
			}
		}

		@media screen and (max-width: 991px) {
			margin-top: 40px;
		}
	}

	.content-wrapper {
		margin-top: 50px;
		gap: 50px;

		.price {
			width: 100%;
			max-width: 220px;

			p {
				strong {
					display: block;
					font-size: 40px;
					color: #fff;
					padding-top: 2px;
					line-height: 150%;
				}
			}
		}

		.property-details {
			width: 100%;
			max-width: 1326px;

			.property-wrapper {
				border-radius: 12px;
				padding: 50px 50px 10px;
				border: 1px solid #262626;
				margin-bottom: 40px;

				&:last-of-type {
					margin-bottom: 0;
				}

				.property-heading {
					padding-bottom: 40px;
					border-bottom: 1px solid #262626;
				}

				.property-content {
					.item {
						width: 50%;
						padding: 40px 0;
						border-bottom: 1px solid #262626;

						h4 {
							font-size: 18px;
							color: #999999;
							padding-bottom: 14px;
						}

						.flex {
							gap: 16px;
							min-height: 45px;
						}

						.price {
							width: auto;
							max-width: 100%;

							p {
								font-size: 24px;
								color: #fff;
							}
						}

						.text {
							padding: 8px 14px;
							border-radius: 50px;
							border: 1px solid #262626;
							background: #1a1a1a;
						}

						&:nth-of-type(2n + 1) {
							position: relative;

							&::after {
								content: "";
								background: #262626;
								width: 1px;
								height: 86px;
								position: absolute;
								right: 20px;
								top: 40px;
							}
						}

						&:nth-of-type(5) {
							border-bottom: none;

							&::after {
								display: none;
							}
						}

						&:nth-of-type(3):nth-last-of-type(2),
						&:nth-of-type(4):nth-last-of-type(1) {
							border-bottom: none;
						}

						&:nth-of-type(1):nth-last-of-type(2),
						&:nth-of-type(2):nth-last-of-type(1) {
							border-bottom: none;
						}
					}
				}

				&.monthly-costs {
					.item {
						width: 100%;

						&::after {
							display: none;
						}
					}
				}
			}
		}

		@media screen and (max-width: 1440px) {
			gap: 40px;
			margin-top: 40px;

			.price {
				max-width: 140px;
				p {
					strong {
						font-size: 30px;
					}
				}
			}
			.property-details {
				.property-wrapper {
					padding: 40px 40px 10px;

					.property-heading {
						padding-bottom: 30px;
					}

					.property-content {
						.item {
							padding: 30px 0;

							h4 {
								font-size: 14px;
							}

							p {
								font-size: 14px;
							}
							.price {
								p {
									font-size: 20px;
								}
							}

							.text {
								padding: 6px 12px;
							}

							.flex {
								gap: 12px;
							}
						}
					}
				}
			}
		}
	}

	@media screen and (max-width: 991px) {
		.note {
			padding: 20px 24px;
			flex-direction: column;
			gap: 0;
			align-items: flex-start;

			h4 {
				display: block;
				padding-bottom: 10px;
				margin-bottom: 10px;
				border-bottom: 1px solid #262626;
				width: 100%;

				&::after {
					display: none;
				}
			}
		}

		.content-wrapper {
			flex-direction: column;
			gap: 20px;

			& > div {
				width: 100% !important;
				max-width: 100% !important;
			}

			.cta {
				display: inline-block;
				width: auto !important;
			}

			.property-details {
				.property-wrapper {
					padding: 20px 20px 0;
					.property-content {
						.item {
							padding: 20px 0;
							width: 100%;

							&::after {
								display: none;
							}

							h4 {
								padding-bottom: 10px;
							}

							.price {
								p {
									font-size: 18px;
								}
							}
						}
					}
				}
			}
		}
	}

	@media screen and (max-width: 375px) {
		.content-wrapper
			.property-details
			.property-wrapper
			.property-content
			.item
			.flex {
			flex-direction: column;
			align-items: flex-start;
		}
	}
}
