.smart-investments {
	padding-top: 150px;
	padding-bottom: 150px;

	@media screen and (max-width: 1440px) {
		padding-top: 90px;
		padding-bottom: 120px;
	}

	@media screen and (max-width: 991px) {
		padding-top: 60px;
		padding-bottom: 60px;
	}

	.row {
		gap: 60px;
		& > div {
			&.heading-text {
				width: 32.2%;
				position: relative;
				top: -15px;
			}

			&.content-wrapper {
				width: 63.5%;
			}
		}
	}

	.item-wrapper {
		border-radius: 10px;
		box-shadow: 0 0 0 10px #191919;
		gap: 10px;

		.item {
			width: 49%;
			padding: 50px;
			position: relative;
			border: 1px solid #262626;
			border-radius: 12px;
			box-shadow: 0 0 0 10px #191919;
			background: #141414;

			h3 {
				font-size: 24px;
			}

			.image-wrapper {
				gap: 14px;
				margin-bottom: 30px;

				.image {
					width: 82px;
					height: 82px;
					border-radius: 50%;
					background: #141414;
					background: url("../images/iconbg.png") no-repeat;
					background-size: 100% 100%;
				}
			}
		}

		@media screen and (max-width: 1440px) {
			.item {
				padding: 40px;
				width: 48%;

				h3 {
					font-size: 20px;
				}
			}

			.image-wrapper {
				margin-bottom: 24px !important;

				.image {
					width: 60px !important;
					height: 60px !important;
				}
			}
		}
	}

	.unlock {
		background: url("../images/unlockbg2.png") no-repeat;
		padding: 50px;
		background-size: 100% 100%;
		border-radius: 12px;
		border: 1px solid #262626;
		margin-top: 50px;

		h3 {
			padding-bottom: 30px;
		}

		p {
			color: #fff;
			padding-bottom: 30px;
		}

		.cta {
			border-color: #262626;
			width: 100%;
			text-align: center;
			background: #141414;
		}

		@media screen and (max-width: 1440px) {
			padding: 40px;

			h3 {
				padding-bottom: 20px;
			}

			p {
				padding-bottom: 20px;
			}
		}
	}
	@media screen and (max-width: 991px) {
		.row {
			flex-direction: column;
			gap: 40px;

			& > div {
				width: 100% !important;

				.item-wrapper {
					.item {
						width: 49%;
						padding: 24px;

						.image-wrapper {
							margin-bottom: 16px;

							.image {
								width: 48px;
								height: 48px;
							}
						}
					}
				}
			}
		}
	}

	@media screen and (max-width: 767px) {
		.row {
			& > div {
				.item-wrapper {
					.item {
						width: 100%;
					}
				}
			}
		}
	}
}
