.values {
	padding-top: 150px;

	@media screen and (max-width: 1440px) {
		padding-top: 120px;
	}

	@media screen and (max-width: 991px) {
		padding-top: 61px;
	}

	.row {
		gap: 80px;
		& > div {
			&.heading-text {
				width: 40%;
			}

			&.content-wrapper {
				width: 60%;
			}
		}

		@media screen and (max-width: 991px) {
			flex-direction: column;
			gap: 40px;

			& > div {
				width: 100% !important;
			}
		}
	}

	.item-wrapper {
		padding: 30px;
		border: 1px solid #262626;
		border-radius: 12px;
		box-shadow: 0 0 0 10px #191919;

		.item {
			width: 50%;
			padding: 30px;
			position: relative;

			.image-wrapper {
				gap: 14px;
				margin-bottom: 20px;

				.image {
					width: 74px;
					height: 74px;
					border-radius: 50%;
					border: 1px solid #703bf7;
					background: #141414;
				}
			}

			&:nth-of-type(1),
			&:nth-of-type(3) {
				&::after {
					content: "";
					width: 1px;
					height: 148px;
					background: #262626;
					position: absolute;
					right: 0;
					top: 30px;
				}
			}

			&:nth-of-type(1),
			&:nth-of-type(2) {
				border-bottom: 1px solid #262626;
			}
		}

		@media screen and (max-width: 1440px) {
			padding: 25px;
			.item {
				padding: 24px;

				.image-wrapper {
					margin-bottom: 16px;
					gap: 10px;

					.image {
						width: 60px;
						height: 60px;
					}
				}
			}
		}

		@media screen and (max-width: 991px) {
			padding: 0 12px;

			.item {
				padding: 24px 12px;

				.image-wrapper {
					margin-bottom: 16px;
					gap: 10px;

					.image {
						width: 52px;
						height: 52px;
					}
				}

				&:nth-of-type(1),
				&:nth-of-type(3) {
					&::after {
						content: "";
						width: 1px;
						height: 130px;
						background: #262626;
						position: absolute;
						right: 9px;
						top: 25px;
					}
				}
			}
		}

		@media screen and (max-width: 767px) {
			padding: 0 24px;

			.item {
				padding: 24px 0;
				width: 100%;

				&:nth-of-type(1),
				&:nth-of-type(3) {
					&::after {
						display: none;
					}
				}
			}
		}
	}
}
